## **Librer√≠as**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.options.display.max_columns = False

## **Datos**

In [3]:
df = pd.read_csv('./Datos/titanic.csv')

In [4]:
df.sample()

     Survived  Pclass                           Name     Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard    Fare
365         1       3  Mrs. (Mantoura Boulos) Moussa  female  35.0                        0                        0  7.2292